<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto_Pisip.Properties.Settings.cnsmysqlexistencia"
            connectionString="Dsn=64existencia;uid=root;pwd=rtmysql2014"
            providerName="System.Data.Odbc" />
        <add name="Proyecto_Pisip.Properties.Settings.ConnectionString"
            connectionString="Dsn=32existencias;uid=root" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>